
<br>
<br>
<br>
<br>
<img src="images/beer.png" alt="beer">
<br>
<br>
<br>
<br>
<section id="link-beers">
    <button id="trigger-beers"><a href="/beers"><strong>Check the Beers!</strong></a></button>
    <br>
    <br>
    <button id="trigger-beers"><a href="/random-beer"><strong>Check a Random Beer!</strong></a></button>
</section>